<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href=""><img src="img/logo1.png" alt="logo"></a>
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Payements Elèves</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">
                        <a href="{%  url 'comptable:selectionSalle' %}" class="nav-link"><i class="fas fa-angle-right"></i>Payements </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Ajout Payements</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Payements Personnel</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">

                    <a href="{%  url 'comptable:liste_personnel' %}" class="nav-link">
                        <i class="fas fa-angle-right"></i>Payements du Personnel
                    </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><i class="fas fa-angle-right"></i>Ajout Payements</a>
                    </li>
                </ul>
            </li>
            

            <li class="nav-item">
                <a href="" class="nav-link"><i class="flaticon-script"></i><span>Notice</span></a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"><i class="flaticon-chat"></i><span>Message</span></a>
            </li>
            
        </ul>
    </div>
</div>
