{% load static %}


<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'secretaire/img/favicon.png' %}">
<!-- Normalize CSS -->
<link rel="stylesheet" href="{% static 'secretaire/css/normalize.css' %}">
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'secretaire/css/main.css' %}">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'secretaire/css/bootstrap.min.css' %}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{% static 'secretaire/css/all.min.css' %}">
<!-- Flaticon CSS -->
<link rel="stylesheet" href="{% static 'secretaire/fonts/flaticon.css' %}">
<!-- Animate CSS -->
<link rel="stylesheet" href="{% static 'secretaire/css/animate.min.css' %}">
<!-- Data Table CSS -->
<link rel="stylesheet" href="{% static 'secretaire/css/jquery.dataTables.min.css' %} ">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'secretaire/style.css' %}">
<!-- Modernize js -->
<script src="{% static 'secretaire/js/modernizr-3.6.0.min.js' %}"></script>

