{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>

   {% include 'partial/head.html' %}

</head>

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
         <!-- Header Menu Area Start Here -->
        
         {% include 'partial/header.html' %}

        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->

            {% include 'partial/aside.html' %}

            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Frais</h3>
                    <ul>
                        <li>
                            <a href="{% url 'secretaire:index' %}">Tableau de Bord</a>
                        </li>
                        <li>
                            <a href="{% url 'secretaire:all_cout' %}">Frais *</a>
                        </li>
                        <li>Frais ({{cout.classe.classe}})</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
            
                <!-- Cout Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Frais ({{cout.classe.classe}})</h3>
                            </div>
                        </div>
            
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">#</label>
                                            </div>
                                        </th>
                                        <th>Frais d'inscription</th>
                                        <th>Frais de scolarité</th>
                                        <th>Frais d'étude du dossier</th>
                                        <th>Frais Associés</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">#</label>
                                            </div>
                                        </td>
                                        <td>{{ cout.coutInscription }} F CFA</td>
                                        <td>{{ cout.coutScolarite }} F CFA</td>
                                        <td>{{ cout.fraisEtudeDossier }} F CFA</td>
                                        <td>{{ cout.fraisAssocie }} F CFA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">ID</label>
                                            </div>
                                        </th>
                                        <th>Libelle Tranche</th>
                                        <th>Montant</th>
                                        <th>Date d'écheance</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if tranches %}
                                    {% for tranche in tranches %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">#</label>
                                            </div>
                                        </td>
                                        <td>{{ tranche.libelle }}</td>
                                        <td>{{ tranche.montant }} F CFA</td>
                                        <td>{{ tranche.date_echeance|date:"d/m/Y" }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="">
                                                        <i class="fas fa-cogs text-dark-pastel-green"></i>Modifier
                                                    </a>
                                                    <a class="dropdown-item" href="" onclick="return confirm('Voulez-vous vraiment supprimer cette tranche ?')">
                                                        <i class="fas fa-times text-orange-red"></i>Supprimer
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="5">Aucune tranche disponible pour ce frais.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
            
                        <div class="table-responsive">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>TOTAL</th>
                                        <th style="text-align: right; color: green;">{{ cout.total_general }} F CFA</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Cout Table Area End Here -->
                {% include 'partial/copyright.html' %}
            </div>
            
        </div>
        <!-- Page Area End Here -->
    </div>
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <!-- Scroll Up Js -->
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <!-- Data Table Js -->
    <script src="{% static 'secretaire/js/jquery.dataTables.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'secretaire/js/main.js' %}"></script>
</body>

</html>