{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AcadPro | Elèves par salle de classe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'accueil/css/cssPersonnalise/receptionDepotDossier.css' %}">
    {% include 'partial/head.html' %}
</head>
    

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
        <!-- Header Menu Area Start Here -->
        
        {% include 'partial/header.html' %}

        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
           
            {% include 'partial/aside.html' %}

            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Elèves</h3>
                    <ul>
                        <li>
                            <a href="{% url 'secretaire:all-salle' %}">Salles *</a>
                        </li>
                        <li>{{salle.niveau.classe}} {{salle.nom}}</li>
                        <li>
                            {% if inscrits %}
                                <a href="{% url 'secretaire:listePresence' salle.id %}"><i class="fa fa-user-check" style = "color: #ffaa01;"></i> Créer liste de présence </a>
                            {% else %}
                                <a href="" onclick="alert('Aucun inscris dans cette salle!')"><i class="fa fa-user-check" style = "color: #ffaa01;"></i> Créer liste de présence </a>
                            {% endif %}

                        </li>
                        <li>
                            <a href="{% url 'secretaire:emploiDuTemps' salle.id  %}"><i class="fa-solid fa-calendar-days" aria-label="Emploi du temps" style = "color: #ffaa01; padding-left: -10px;"></i><span style = "padding-left: 5px;"></span>Emploi du Temps</a>
                        </li>
                        <li>
                            {% if inscrits %}
                                <a href="{% url 'secretaire:bulletinsSalleDeClasse' salle.id %}"><span style = "padding-left: 5px;"></span>Bulletins</a>
                            {% else %}
                                <a href="" onclick="alert('Aucun bulletin disponible!')"><span style = "padding-left: 5px;"></span>Bulletins</a>
                            {% endif %}
                        </li>
                    
                        <li>
                            {% if inscrits %}
                                <a href="{% url 'secretaire:messageCommunParent' salle.id  %}"> <i class="fa-regular fa-envelope" style="color: #ffaa01;"></i>
                                    <span style="padding-left: 5px;"></span>Message aux parents
                                </a>
                            {% else %}
                                <a href="" onclick="alert('Aucun élève inscrit dans cette salle!')"> <i class="fa-regular fa-envelope" style="color: #ffaa01;"></i>
                                    <span style="padding-left: 5px;"></span>Message aux parents
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            <div class="dropdown">
                                <i class="fa fa-download"></i>
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">Exporter</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    {% if inscrits %}
                                        <a class="dropdown-item" href="{% url 'secretaire:export_excel' salle.id annee.id %}">
                                            <i class="fas fa-file-excel" style="color: green;"></i> Exporter en Excel
                                        </a>
                                        <a class="dropdown-item" href="{% url 'secretaire:export_pdf' salle.id annee.id %}">
                                            <i class="fas fa-file-pdf" style="color: red;"></i> Exporter en PDF
                                        </a>
                                    {% else %}
                                        <a class="dropdown-item" href="" onclick="alert('Aucun inscris dans cette salle!')">
                                            <i class="fas fa-file-excel" style="color: green;"></i> Exporter en Excel
                                        </a>
                                        <a class="dropdown-item" href="" onclick="alert('Aucun inscris dans cette salle!')">
                                            <i class="fas fa-file-pdf" style="color: red;"></i> Exporter en PDF
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1 d-flex">
                            <div class="item-title">
                                <div style = "display: flex; gap: 50px;">
                                    <h6>Liste de tous les élèves inscrit dans la salle de classe: <span style = "font-weight: bold; color: #ffaa01; font-size: 17px;"> << {{salle.niveau.classe}}  {{salle.nom}} >> </span></h6>
                                    <h6 style = "margin-left: 20px;">Année scolaire: <span style = "font-weight: bold; color: #ffaa01; font-size: 17px;"> << {{annee.debutAnnee|date:"Y"}}-{{annee.fintAnnee|date:"Y"}}>> </span></h6>
                                </div>
                                <div class = "d-flex justify-content-between">
                                    <h6> <i class="fa fa-list"></i>  
                                        Total des élèves <span style = "font-weight: bold; color: #ffaa01; font-size: 17px;"> <<{{nombre}}>> </span> 
                                        (M <span style = "font-weight: bold; color: #ffaa01; font-size: 17px;"> <<{{nombreMasculin}}>> </span>
                                        F <span style = "font-weight: bold; color: #ffaa01; font-size: 17px;"> <<{{nombreFeminin}}>> </span>)
                                    </h6>
                                    <h6>
                                        Nombre élèves etendus <span style = "font-weight: bold; color: #ffaa01; font-size: 20px;"> <<{{nombreEtendu}}>> </span> 
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <form class="mg-b-20" method="POST">
                            {% csrf_token %}
                            <div class="row gutters-8">
                                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" name="matricule" placeholder="Filtrer par matricule ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" name ="nom" placeholder="Filtrer par nom ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="hidden" placeholder="Search by Class ..." class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">FILTRER</button>
                                </div>
                            </div>
                        </form>
                        
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">Matricule</label>
                                            </div>
                                        </th>
                                        <th>Photo</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Genre</th>
                                        <th>Salle</th>
                                        <th>E-mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inscrit in inscrits %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">{{inscrit.etudiant.matricule}}</label>
                                            </div>
                                        </td>
                                        {% if inscrit.etudiant.photo %}
                                            <td><img src="{{ inscrit.etudiant.photo.url }}" alt="Photo" style="width: 160px; height: 50px; border-radius: 7px; object-fit: cover;"></td>
                                        {% else %}
                                            <td class="text-center"><i class="fa fa-user"></i></td> 
                                        {% endif %}
                                        <td>{{inscrit.etudiant.nom}}</td>
                                        <td>{{inscrit.etudiant.prenom}}</td>
                                        <td>{{inscrit.etudiant.genre}}</td>
                                        <td>{{inscrit.salleClasse.niveau.classe}}- {{inscrit.salleClasse.nom}}</td>
                                        <td>{{inscrit.etudiant.mail}}</td>
                                       
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->
                {% include 'partial/copyright.html' %}
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <!-- Scroll Up Js -->
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <!-- Data Table Js -->
    <script src="{% static 'secretaire/js/jquery.dataTables.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'secretaire/js/main.js' %}"></script>


    
    <script>
         // Fonction pour ouvrir la modal
        function openModal(receptionId, nom, prenom, mail) {
            document.getElementById('receptionId').value = receptionId;
            document.getElementById('id_email').value = mail; // ← Preremplit le champ email
            document.getElementById('modalOverlay').style.display = 'block';
            document.body.style.overflow = 'hidden'; // Empêche le scroll de la page
            
            document.querySelector('.modal-header-custom h4').textContent = `Répondre à ${nom} ${prenom}`;
        }


        // Fonction pour fermer la modal
        function closeModal() {
            document.getElementById('modalOverlay').style.display = 'none';
            document.body.style.overflow = 'auto'; // Réactive le scroll
            document.getElementById('successMessage').style.display = 'none';
            document.getElementById('responseForm').reset();
        }

        // Fermer la modal en cliquant sur l'overlay
        document.getElementById('modalOverlay').addEventListener('click', function(e) {
            if (e.target === this) {
                closeModal();
            }
        });


        // Fermer avec la touche Échap
        document.addEventListener('keydown', function(e) {
            if (e.key === 'Escape') {
                closeModal();
            }
        });
    </script>
        

</body>

</html>