{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AcadPro | Liste des Élèves</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% include 'partial/head.html' %}
</head>
    
<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">

        <!-- Header Menu Area Start Here -->
        {% include 'partial/nav.html' %}
        <!-- Header Menu Area End Here -->

        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            {% include 'partial/asideComptable.html' %}
            <!-- Sidebar Area End Here -->

            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Liste des Élèves</h3>
                    <ul>
                        <li> <a href ="{% url 'comptable:selectionSalle' %}" ><i class="fa fa-arrow-left"></i> Retour</a></li>
                        <li>{{ salleClasse.nom }}</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->

                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Élèves de {{ salleClasse.nom }}</h3>
                            </div>
                            {% comment %} select des tranches {% endcomment %}
                            <div class="">
                                <form method="get" action="{% url 'comptable:alerte_retard_paiement' salleClasse.niveau.id %}">
                                    <label for="tranche_filter">Filtrer par tranche de paiement:</label>
                                    {% comment %} <select name="tranche_filter" id="tranche_filter" onchange="this.form.submit()"> {% endcomment %}
                                    <select name="tranche_filter" id="tranche_filter">
                                        <option value="">-- Tous --</option>
                                        {% for tranche in tranches %}
                                            <option value="{{ tranche.id }}" {% if tranche.id|stringformat:"s" == request.GET.tranche_filter %}selected{% endif %}>
                                                {{ tranche.libelle }} - {{ tranche.montant|floatformat:1 }} FCFA
                                            </option>
                                        {% endfor %}
                                    </select>
                                    {% comment %} button envoyer alert {% endcomment %}
                                    <button type="submit" class="btn btn-success" href="#" role="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check" viewBox="0 0 16 16">
                                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z"/>
                                            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
                                        </svg>
                                        Alerter
                                    </button>
                                </form>
                            </div>

                        </div>

                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Matricule</th>
                                        <th>Nom & Prénom</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inscrit in inscrits %}
                                    <tr>
                                        <td>{{ inscrit.id }}</td>
                                        <td>{{ inscrit.etudiant.matricule }}</td>
                                        <td>{{ inscrit.etudiant.nom }} {{ inscrit.etudiant.prenom }}</td>
                                        <td>
                                            {% if messagesCoutNonEnregistrer %}
                                                <a href="#"
                                                    class="btn btn-success btn-sm" onclick= "alert('{{messagesCoutNonEnregistrer|escapejs }}');">
                                                    <i class="fas fa-money-bill-wave"></i> Paiement
                                                </a>
                                            {% else %}
                                                <a href="{%  url 'comptable:ajouter_paiement' inscrit.id %}"
                                                    class="btn btn-success btn-sm">
                                                    <i class="fas fa-money-bill-wave"></i> Paiement
                                                </a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="4" class="text-center">Aucun élève dans cette classe</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->

                {% include 'partial/copyright.html' %}
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>

    <!-- Scripts -->
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'secretaire/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'secretaire/js/main.js' %}"></script>
</body>
</html>