{% load static %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include 'partial/head.html' %}
        <title>Sélection Salle</title>
    </head>
<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">

        <!-- Header Menu Area Start Here -->
        {% include 'partial/nav.html' %}
        <!-- Header Menu Area End Here -->

        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            {% include 'partial/asideComptable.html' %}
            <!-- Sidebar Area End Here -->

            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Paiements *</h3>
                    <ul>
                        <li>
                            <a href="{% url 'comptable:indexComptable' %}">Tableau de Bord</a>
                        </li>
                        <li>Paiements *</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Paiements *</h3>
                            </div>
                        </div>
                        <form class="mg-b-20" method="POST">
                            {% csrf_token %}
                            <div class="row gutters-8">
                                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" name="matricule" placeholder="Filtrer par matricule ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" name ="nom" placeholder="Filtrer par Nom ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="hidden" placeholder="Search by Class ..." class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">Filtrer</button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap myTable">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">ID</label>
                                            </div>
                                        </th>
                                        <th>Elève</th>
                                        <th>Montant versé (FCFA)</th>
                                        <th>Date</th>
                                        <th>Type de paiement</th>
                                        <th>Mode de paiement</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for paiement in paiements %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">{{paiement.id}}</label>
                                            </div>
                                        </td>
                                        <td>{{paiement.inscription_Etudiant.etudiant.nom}} {{paiement.inscription_Etudiant.etudiant.prenom}}</td>
                                        <td>{{paiement.montantVerse}}</td>
                                        <td>{{paiement.datePaiement|date:"Y/m/d"}}</td>
                                        <td>{{paiement.typePaiement}}</td>
                                        <td>{{paiement.modePaiment}}</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="" onclick = "return confirm('Voulez-vous vraiment supprimer cet étudiant?')"><i
                                                            class="fas fa-times text-orange-red"></i>Supprimer</a>
                                                    {% if etudiant.matricule %}
                                                        <a class="dropdown-item" href=""><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Modifier</a>
                                                    {% else %}
                                                        <span style="color: red;">Matricule manquant ou invalide</span>
                                                    {% endif %}
                                                    <a class="dropdown-item" href=""><i class="fas fa-eye" title = "voir plus"></i>voir plus</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->
                {% include 'partial/copyright.html' %}
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>

    <!-- Scripts -->
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'secretaire/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'secretaire/js/main.js' %}"></script>


      
    <script>
        $(document).ready(function () {
            $('.voirPlusSalleDeClasse').on('click', function (e) {
                e.preventDefault();

                const salle_id = $(this).data('salle-id');
                const anneeScolaireId = $('select[name="anneeScolaire"]').val();

                if (!anneeScolaireId) {
                    alert("Veuillez sélectionner une année scolaire !");
                    return;
                }
                const url = `/comptable/liste_eleve/${salle_id}/${anneeScolaireId}`;
                window.location.href = url;
            });
        });
    </script>
    {% comment %} <script>
        $('#myTable').DataTable({
            "pageLength": 3,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json"
            },
            dom: 'Bfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
        });
    </script> {% endcomment %}

</body>
</html>







