{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AKKHOR | Ajout inscription</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'secretaire/img/favicon.png' %}">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/normalize.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/main.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/bootstrap.min.css' %}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/all.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/fonts/flaticon.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/animate.min.css' %}">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/select2.min.css' %}">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/css/datepicker.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'secretaire/style.css' %}">
    <!-- Modernize js -->
    <script src="{% static 'secretaire/js/modernizr-3.6.0.min.js' %}"></script>

    
</head>

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
         <!-- Header Menu Area Start Here -->
       
         {% include 'partial/header.html' %}

        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->


            {% include 'partial/aside.html' %}


            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Inscription</h3>
                    <ul>
                        <li>
                            <a href="{% url 'secretaire:index' %}">Tableau Bord</a>
                        </li>
                        <li>Ajout Inscription</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Add New Teacher Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Ajout d'une nouvelle Inscription</h3>
                            </div>
                           <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" 
                                data-toggle="dropdown" aria-expanded="false">...</a>
        
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Fermer</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Modifier</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refrecher</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" style = "text-align: center;">
                                    <strong >{{ message }} </strong> 
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style = "cursor: pointer;">❌</button>
                                </div>
                            {% endfor %}
                        </div>
                        <form class="new-added-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <!-- Étudiant -->
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Étudiant *</label>
                                    <select class="select2 form-control" id="etudiant-select" name="etudiant" required>
                                        <option value="">Veuillez sélectionner un étudiant</option>
                                        {% for etudiant in etudiants %}
                                            <option value="{{ etudiant.id }}" 
                                                    data-matricule="{{ etudiant.matricule }}" 
                                                    data-nom="{{ etudiant.nom }}" 
                                                    data-prenom="{{ etudiant.prenom }}">
                                                {{ etudiant.nom }} {{ etudiant.prenom }}
                                        </option>
                                    {% endfor %}
                                    </select>

                                </div>
                        
                                <!-- Salle de classe -->
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Salle de Classe *</label>
                                    <select class="select2 form-control" id="salle-select" name="salleClasse" required>
                                        <option value="">Veuillez sélectionner une salle</option>
                                        {% for salle in salles %}
                                            <option value="{{ salle.id }}" 
                                                    data-cout="{{ salle.niveau.couts.first.coutInscription }}">
                                                {{ salle.niveau.classe }} {{ salle.nom }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Année scolaire *</label>
                                    <select name="anneeScolaire" class="select2 form-control" required>
                                        <option value="">Sélectionnez l'année scolaire *</option>
                                        {% for anneeScolaire in anneeScolaires %}
                                            <option value={{anneeScolaire.id}}>{{ anneeScolaire.debutAnnee|date:"Y" }}- {{ anneeScolaire.fintAnnee|date:"Y" }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        
                                <!-- Montant versé -->
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Montant versé *</label>
                                    <input type="number" name="montantVerse" class="form-control" required step="0.01">
                                </div>
                                 <!-- Coût attendu -->
                                <div class="col-xl-4 col-lg-6 col-12 form-group">
                                    <label>Coût attendu *</label>
                                    <input type="number" name="coutA" id="coutA" class="form-control" required step="0.01" readonly>
                                </div> 

                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Enregistrer</button>
                                    <a href="{% url 'secretaire:all_inscription' %}" type="button" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Réinitialiser</a>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
                <!-- Add New Teacher Area End Here -->
                {% include 'partial/copyright.html' %}

            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
   <!-- jquery-->
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <!-- Select 2 Js -->
    <script src="{% static 'secretaire/js/select2.min.js' %}"></script>
    <!-- Date Picker Js -->
    <script src="{% static 'secretaire/js/datepicker.min.js' %}"></script>
    <!-- Smoothscroll Js -->
    <script src="{% static 'secretaire/js/jquery.smoothscroll.min.js' %}"></script>
    <!-- Scroll Up Js -->
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'secretaire/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>


<script>
    $(document).ready(function() {
        $('#etudiant-select').select2({
            templateResult: function (data) {
                if (!data.id) return data.text;

                var matricule = $(data.element).data('matricule');
                var nom = $(data.element).data('nom');
                var prenom = $(data.element).data('prenom');

                var $result = $(
                    '<span><strong style="color: red;">' + matricule + '</strong> ' + nom + ' ' + prenom + '</span>'
                );
                return $result;
            },
            templateSelection: function (data) {
                if (!data.id) return data.text;

                var matricule = $(data.element).data('matricule');
                var nom = $(data.element).data('nom');
                var prenom = $(data.element).data('prenom');

                return matricule + ' - ' + nom + ' ' + prenom;
            }
        });
    });
</script>


{% comment %} remplir le champs cout attendu automatiquemnt {% endcomment %}
<script>
    $(document).ready(function() {
        $('#salle-select').on('change', function() {
            var cout = $('option:selected', this).data('cout');
            $('#coutA').val(cout);
        });
    });
</script>


</body>

</html>