{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>

   {% include 'partial/head.html' %}

</head>

<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
         <!-- Header Menu Area Start Here -->
        
         {% include 'partial/header.html' %}

        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->

            {% include 'partial/aside.html' %}

            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Salle</h3>
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Tableau de Bord</a>
                        </li>
                        <li>Salle de classe *</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Class Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Salle de classe *</h3>
                            </div>
                           <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" 
                                data-toggle="dropdown" aria-expanded="false">...</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Fermer</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Modifier</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refrecher</a>
                                </div>
                            </div>
                        </div>
                        <form class="mg-b-20">
                            <div class="row gutters-8">
                                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Filtrer par ID ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Filtrer par Nom ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Filtrer par niveau ..." class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">Filtrer</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-xl-3 col-lg-6 col-12 form-group" style = "margin-left: 35%;">
                            <label style="color: red;">Année Scolaire *</label>
                            <select name="anneeScolaire" class="select2 form-control" required>
                                <option value = "">Selectionner une Année </option>
                                {% for annee in annees %}
                                    <option value="{{annee.id}}">{{annee.debutAnnee|date:"Y"}}-{{annee.fintAnnee|date:"Y"}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th> 
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">ID</label>
                                            </div>
                                        </th>
                                        <th>Niveau</th>
                                        <th>Nom</th>
                                        <th>Capacité d'accueil</th>
                                        <th>Emplacement</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for salle in salles %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label">{{salle.id}}</label>
                                            </div>
                                        </td>
                                        {% comment %} <td class="text-center"><img src="img/figure/student2.png" alt="student"></td> {% endcomment %}
                                        <td>{{salle.niveau}}</td>
                                        <td>{{salle.nom}}</td>
                                        <td>{{salle.capacite}}</td>
                                        <td>{{salle.emplacement}}</td>
                                         <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="flaticon-more-button-of-three-dots"></span>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'supprimerSalle' salle.id %}" onclick = "return confirm('Voulez-vous vraiment supprimer cette salle de classe?');"><i class="fas fa-times text-orange-red"></i>Supprimer</a>
                                                    <a class="dropdown-item" href="{% url 'modifierSalle' salle.nom %}"><i class="fas fa-cogs text-dark-pastel-green"></i>Modifier</a>
                                                    <a class="dropdown-item voirPlusSalleDeClasse" href="#" data-salle-id="{{ salle.id }}"  ><i class="fas fa-eye" title = "voir plus"></i>voir plus</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Class Table Area End Here -->
                {% include 'partial/copyright.html' %}

            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <!-- Scroll Up Js -->
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <!-- Data Table Js -->
    <script src="{% static 'secretaire/js/jquery.dataTables.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'secretaire/js/main.js' %}"></script>



    
    <script>
        $(document).ready(function () {
            $('.voirPlusSalleDeClasse').on('click', function (e) {
                e.preventDefault();

                const salle_id = $(this).data('salle-id');
                const anneeScolaireId = $('select[name="anneeScolaire"]').val();

                if (!anneeScolaireId) {
                    alert("Veuillez sélectionner une année scolaire !");
                    return;
                }

                const url = `/studentParSalle/${salle_id}/${anneeScolaireId}`;
                window.location.href = url;
            });
        });
    </script>
</body>

</html>