{% comment %} <h1>Bienvenue {{ parent.nom }} {{ parent.prenom }}</h1>

<h3>Vos enfants inscrits :</h3>
<ul>
  {% for enfant in enfants %}
    <li>
      {{ enfant.nom }} {{ enfant.prenom }} - {{ enfant.classe.nom }}
      <a href="">📘 Notes</a> |
      <a href="">📅 Emploi du temps</a> |
      <a href="|{}">💰 Paiements</a>
    </li>
  {% endfor %}
</ul>


<h2>Bienvenue {{ parent.nom }} {{ parent.prenom }}</h2>

  <div class="card-container">
    {% for enfant in enfants %}
      <div class="card">
        {% if enfant.photo %}
          <img src="{{ enfant.photo.url }}" alt="photo élève" class="card-img" width = 100 height = 100>
        {% else %}
          <img src="" alt="photo élève" class="card-img">
        {% endif %}

        <h3>{{ enfant.nom }} {{ enfant.prenom }}</h3>
        <p>Classe : {{ enfant.classe.nom }}</p>

        <div class="actions">
          <a href="" class="btn btn-primary">Voir les notes</a>
          <a href="" class="btn btn-secondary">Emploi du temps</a>
          <a href="" class="btn btn-success">Suivre paiements</a>
        </div>
      </div>
    {% empty %}
      <p>Vous n’avez encore aucun enfant inscrit.</p>
    {% endfor %}
  </div> {% endcomment %}


  {% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AcadPro | Liste des Élèves</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% include 'partial/head.html' %}
</head>
    
<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">

        <!-- Header Menu Area Start Here -->
        {% comment %} {% include 'partial/nav.html' %} {% endcomment %}

<div class="navbar navbar-expand-md header-menu-one bg-light">
    <div class="nav-bar-header-one">
        <div class="header-logo">
            <a href="#">
                <img src="{% static 'secretaire/img/logoAcad.png' %}" alt="logo"  width ="75" height="5">
            </a>
        </div>
            <div class="toggle-button sidebar-toggle">
            <button type="button" class="item-link">
                <span class="btn-icon-wrap">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
        </div>
    </div>
    <div class="d-md-none mobile-nav-bar">
        <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
            <i class="far fa-arrow-alt-circle-down"></i>
        </button>
        <button type="button" class="navbar-toggler sidebar-toggle-mobile">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
        {% comment %} <ul class="navbar-nav">
            <li class="navbar-item header-search-bar"  style="display: flex; justify-content: space-between;">
                <div class="input-group stylish-input-group">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="flaticon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" placeholder="Rechercher . . .">
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    {% include 'partial/messages.html' %}
                </div>
            </li>
        </ul> {% endcomment %}
<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            {% comment %} <a href=""><img src="img/logo1.png" alt="logo"></a> {% endcomment %}
            <img src="{% static 'secretaire/img/logoAcad.png' %}" alt="logo"  width ="75" height="5">
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">
            <li class="nav-item">
                <a href="{% url 'comptable:indexComptable' %}" class="nav-link"><i class="flaticon-dashboard"></i><span>Tableau de Bord</span></a>
            </li>
            <li class="nav-item sidebar-nav-item">
                <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Payements Elèves</span></a>
                <ul class="nav sub-group-menu">
                    <li class="nav-item">

                    <a href="{% url 'comptable:listePaiments' %}" class="nav-link">
                        <i class="fas fa-angle-right"></i>Payements *
                    </a>
                    </li>
                    <li class="nav-item">
                        <a href="{%  url 'comptable:selectionSalle' %}" class="nav-link"><i class="fas fa-angle-right"></i>Ajout Payements</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a href="{%  url 'comptable:enretardSurPaiement' %}" class="nav-link"><i class="fas fa-angle-right"></i>En retard sur les paiements</a>
                    </li> {% endcomment %}
                </ul>
            </li>
            

            {% comment %} <li class="nav-item">
                <a href="" class="nav-link"><i class="flaticon-script"></i><span>Notice</span></a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link"><i class="flaticon-chat"></i><span>Message</span></a>
            </li> {% endcomment %}
            
        </ul>
    </div>
</div>

        <ul class="navbar-nav">
            <li class="navbar-item dropdown header-admin">
                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    <div class="admin-title">
                        <h5 class="item-title">AcadPro</h5>
                        <span>Comptable</span>
                    </div>
                    <div class="admin-img">
                        <img src="{% static 'secretaire/img/logoAcad.png' %}" alt="Admin" class="img-fluid" style="object-fit: contain; width: 50px; height: 50px; border-radius: 50%; ">
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="item-header">
                        <h6 class="item-title">Comptable</h6>
                    </div>
                    <div class="item-content">
                        <ul class="settings-list">
                            <li><a href="#"><i class="flaticon-user"></i>Mon Profile</a></li>
                            <li><a href="#"><i class="flaticon-gear-loading"></i>Paramètre</a></li>
                            <li><a href="{% url 'deconnexion' %}"><i class="flaticon-turn-off"></i>Deconnecté</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div> 

        <!-- Header Menu Area End Here -->

        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            {% comment %} {% include 'partial/asideComptable.html' %} {% endcomment %}
            <!-- Sidebar Area End Here -->

            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Liste des Élèves</h3>
                    <ul>
                        <li> <a href ="{% url 'comptable:selectionSalle' %}" ><i class="fa fa-arrow-left"></i> Retour</a></li>
                        <li>{{ salleClasse.nom }}</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->

                <!-- Student Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Élèves de {{ salleClasse.nom }}</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-print text-dark-pastel-green"></i>Imprimer</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-download text-orange-peel"></i>Exporter</a>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Matricule</th>
                                        <th>Nom & Prénom</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inscrit in inscrits %}
                                    <tr>
                                        <td>{{ inscrit.id }}</td>
                                        <td>{{ inscrit.etudiant.matricule }}</td>
                                        <td>{{ inscrit.etudiant.nom }} {{ inscrit.etudiant.prenom }}</td>
                                        <td>
                                            {% if messagesCoutNonEnregistrer %}
                                                <a href="#"
                                                    class="btn btn-success btn-sm" onclick= "alert('{{messagesCoutNonEnregistrer|escapejs }}');">
                                                    <i class="fas fa-money-bill-wave"></i> Paiement
                                                </a>
                                            {% else %}
                                                <a href="{%  url 'comptable:ajouter_paiement' inscrit.id anneesScolaire.id %}"
                                                    class="btn btn-success btn-sm">
                                                    <i class="fas fa-money-bill-wave"></i> Paiement
                                                </a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="4" class="text-center">Aucun élève dans cette classe</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Student Table Area End Here -->

                {% include 'partial/copyright.html' %}
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>

    <!-- Scripts -->
    <script src="{% static 'secretaire/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'secretaire/js/plugins.js' %}"></script>
    <script src="{% static 'secretaire/js/popper.min.js' %}"></script>
    <script src="{% static 'secretaire/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'secretaire/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'secretaire/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'secretaire/js/main.js' %}"></script>
</body>
</html>