{% load static %}
    <link rel="stylesheet" href="{% static 'eleve/style.css' %}">

    <div class="navbar navbar-expand-md header-menu-one bg-light">
        <div class="header-logo">
            <a href="">
                <img src="{% static 'secretaire/img/logoAcadPro.png' %}" alt="logo" class="img-fluid" style =" overflow : hidden; padding: 10px;" width= 90px height= 90px/>
            </a>
        </div>
        <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
            <ul class="navbar-nav">
                <li class="navbar-item header-search-bar"  style="display: flex; justify-content: space-between;">
                    <div class="input-group stylish-input-group">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="flaticon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control" placeholder=". . .">
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        {% include 'partial/messages.html' %}
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="navbar-item dropdown header-message">
                    <a class="navbar-nav-link dropdown-toggle" href="{% url 'eleve:messagesEleves' %}" role="button"
                        >
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
                <li class="navbar-item dropdown header-admin">
                    <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        <div class="admin-title">
                            <h5 class="item-title">{{etudiant.nom}} {{etudiant.prenom}}</h5>
                            <span>Elève</span>
                        </div>
                        <div class="admin-img">
                            {% if etudiant.photo %}
                                <img src="{{ etudiant.photo.url }}" alt="logo" class="img-fluid" style =" overflow : hidden; width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;">
                            {% else %}
                                <i class="fa fa-user" style="font-size: 30px; color: #3d7eac;"></i> 
                            {% endif %}
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="item-header">
                            <h6 class="item-title">AcadPro</h6>
                        </div>
                        <div class="item-content">
                            <ul class="settings-list">
                                <li><a href="{% url 'eleve:profil' %}"><i class="flaticon-user"></i>Mon Profil</a></li>
                                <li><a href="{% url 'deconnexion' %}"><i class="flaticon-turn-off"></i>Deconnecté</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
